.pagination li {
  display: inline-block;
  background: #dedede;
  overflow: hidden;
}

.pagination li a {
  text-decoration: none;
  width: 10px;
  height: 10px;
  padding: 10px;
}
.pagenation-wrap{
  display:flex;
  justify-content: space-between;
}